<div class="col-md-6 offset-md-3" id="box">
    <h3>Update Pizza</h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Pizza Type</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="pizza.type" name="type">
        </div>
        <div class="form-group">
            <label>Pizza Side</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="pizza.side" name="side">
        </div>
        <div class="form-group">
            <label>Drink</label>
            <input type="text" class="form-control" id="emailId" [(ngModel)]="pizza.drink" name="drink">
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </form>
</div>
